package @#%=PackageName%#@

import (
	"context"
	"github.com/golang/protobuf/proto"
	"go.mongodb.org/mongo-driver/bson"
	"go.mongodb.org/mongo-driver/bson/primitive"
	"go.mongodb.org/mongo-driver/mongo/options"
	"go.uber.org/zap"
	"servers/protocol"
	"wrappers/common"
	"wrappers/db_wrapper"
)

func init() {
	DBMsgProcessorMap[protocol.DBMsgId_@#%=ModelName%#@Create] = MsgProc@#%=ModelName%#@Create
	DBMsgProcessorMap[protocol.DBMsgId_@#%=ModelName%#@CreateMany] = MsgProc@#%=ModelName%#@CreateMany
	DBMsgProcessorMap[protocol.DBMsgId_@#%=ModelName%#@Delete] = MsgProc@#%=ModelName%#@Delete
	DBMsgProcessorMap[protocol.DBMsgId_@#%=ModelName%#@DeleteMany] = MsgProc@#%=ModelName%#@DeleteMany
	DBMsgProcessorMap[protocol.DBMsgId_@#%=ModelName%#@Update] = MsgProc@#%=ModelName%#@Update
	DBMsgProcessorMap[protocol.DBMsgId_@#%=ModelName%#@UpdateMany] = MsgProc@#%=ModelName%#@UpdateMany
	DBMsgProcessorMap[protocol.DBMsgId_@#%=ModelName%#@Select] = MsgProc@#%=ModelName%#@Select
	DBMsgProcessorMap[protocol.DBMsgId_@#%=ModelName%#@SelectMany] = MsgProc@#%=ModelName%#@SelectMany
}

func MsgProc@#%=ModelName%#@Create(srcAddr string, msgId uint16, userId string, message proto.Message) bool {
	zLog := common.ZLog
	msg := message.(*protocol.@#%=ModelName%#@DB)
	collection := db_wrapper.MongoClient.Database(DBName).Collection("@#%=ModelName.tolower%#@")

	ctx := context.Background()

	for {
		bytes, err := proto.Marshal(msg.Info)
		if err != nil {
			zLog.Error("proto.Marshal error", zap.Error(err))
			break
		}

		infoBsonObject := bson.M{"Data": bytes}
		result, err := collection.InsertOne(ctx, infoBsonObject)
		if err != nil {
			zLog.Error("MsgProc@#%=ModelName%#@Create collection.InsertOne error", zap.Error(err))
			break
		} else {
			if msg.Info.Id == "" {
				msg.Info.Id = result.InsertedID.(primitive.ObjectID).Hex()
				zLog.Debug("MsgProc@#%=ModelName%#@Create", zap.String("InsertedID", msg.Info.Id))
			}
		}

		msg.SucceededCount = 1
		break
	}
	SendMsgBack(srcAddr, msgId, userId, msg)

	return true
}

func MsgProc@#%=ModelName%#@CreateMany(srcAddr string, msgId uint16, userId string, message proto.Message) bool {
	zLog := common.ZLog
	msg := message.(*protocol.@#%=ModelName%#@ManyDB)
	collection := db_wrapper.MongoClient.Database(DBName).Collection("@#%=ModelName.tolower%#@")

	ctx := context.Background()

	for {
		inserts := bson.A{}

		marshalOk := true
		for _, info := range msg.Infos {
			bytes, err := proto.Marshal(info)
			if err != nil {
				zLog.Error("MsgProc@#%=ModelName%#@CreateMany proto.Marshal error", zap.Error(err))
				marshalOk = false
				break
			}
			inserts = append(inserts, bson.M{"Data": bytes})
		}
		if !marshalOk {
			break
		}

		result, err := collection.InsertMany(ctx, inserts)
		if err != nil {
			zLog.Error("MsgProc@#%=ModelName%#@CreateMany collection.InsertMany error", zap.Error(err))
			break
		}

		for idx, info := range msg.Infos {
			if idx >= len(result.InsertedIDs) {
				break
			}
			if info.Id == "" {
				info.Id = result.InsertedIDs[idx].(primitive.ObjectID).Hex()
				zLog.Debug("MsgProc@#%=ModelName%#@CreateMany", zap.String("InsertedID", info.Id))
			}
		}

		msg.SucceededCount = int32(len(result.InsertedIDs))

		/*
			for _, info := range msg.Infos {
				bytes, err := proto.Marshal(info)
				if err != nil {
					zLog.Error("MsgProc@#%=ModelName%#@CreateMany proto.Marshal error", zap.Error(err))
					return false
				}

				infoBsonObject := bson.M{"Data": bytes}
				result, err := collection.InsertOne(ctx, infoBsonObject)
				if err != nil {
					zLog.Error("MsgProc@#%=ModelName%#@CreateMany collection.InsertOne error", zap.Error(err))
					return false
				} else {
					if info.Id == "" {
						info.Id = result.InsertedID.(primitive.ObjectID).Hex()
						zLog.Debug("MsgProc@#%=ModelName%#@CreateMany", zap.String("InsertedID", info.Id))
					}
				}
			}
		*/
		break
	}

	SendMsgBack(srcAddr, msgId, userId, msg)

	return true
}

func MsgProc@#%=ModelName%#@Delete(srcAddr string, msgId uint16, userId string, message proto.Message) bool {
	zLog := common.ZLog
	msg := message.(*protocol.ModelDeleteDB)
	collection := db_wrapper.MongoClient.Database(DBName).Collection("@#%=ModelName.tolower%#@")

	ctx := context.Background()

	for {
		Id, err := primitive.ObjectIDFromHex(msg.Id)
		if err != nil {
			zLog.Error("MsgProc@#%=ModelName%#@Delete primitive.ObjectIDFromHex error", zap.String("msg.Id", msg.Id), zap.Error(err))
			break
		}
		filter := bson.M{"_id": Id}
		deleteResult, err := collection.DeleteOne(ctx, filter)
		if err != nil {
			zLog.Error("MsgProc@#%=ModelName%#@Delete collection.DeleteOne error", zap.Error(err))
			break
		}

		msg.DeletedCount = deleteResult.DeletedCount

		break
	}

	SendMsgBack(srcAddr, msgId, userId, msg)

	return true
}

func MsgProc@#%=ModelName%#@DeleteMany(srcAddr string, msgId uint16, userId string, message proto.Message) bool {
	zLog := common.ZLog
	msg := message.(*protocol.ModelDeleteManyDB)
	collection := db_wrapper.MongoClient.Database(DBName).Collection("@#%=ModelName.tolower%#@")

	ctx := context.Background()

	for {

		ids := bson.A{}

		for _, id := range msg.Ids {
			objId, err := primitive.ObjectIDFromHex(id)
			if err != nil {
				zLog.Error("MsgProc@#%=ModelName%#@DeleteMany primitive.ObjectIDFromHex error", zap.String("id", id), zap.Error(err))
				break
			}
			ids = append(ids, objId)
		}

		filter := bson.M{"_id": bson.D{{"$in", ids}}}

		deleteResult, err := collection.DeleteMany(ctx, filter)
		if err != nil {
			zLog.Error("MsgProc@#%=ModelName%#@DeleteMany collection.DeleteMany error", zap.Error(err))
			break
		}

		msg.DeletedCount = deleteResult.DeletedCount

		break
	}

	SendMsgBack(srcAddr, msgId, userId, msg)

	return true
}

func MsgProc@#%=ModelName%#@Update(srcAddr string, msgId uint16, userId string, message proto.Message) bool {
	zLog := common.ZLog
	msg := message.(*protocol.@#%=ModelName%#@DB)
	collection := db_wrapper.MongoClient.Database(DBName).Collection("@#%=ModelName.tolower%#@")

	ctx := context.Background()

	for {
		bytes, err := proto.Marshal(msg.Info)
		if err != nil {
			zLog.Error("proto.Marshal error", zap.Error(err))
			break
		}

		infoBsonObject := bson.M{"Data": bytes}

		Id := msg.Info.Id
		objId, err := primitive.ObjectIDFromHex(Id)
		if err != nil {
			zLog.Error("MsgProc@#%=ModelName%#@Update primitive.ObjectIDFromHex failed", zap.String("Id", Id))
			break
		}
		filter := bson.M{"_id": objId}
		updateResult, err := collection.UpdateOne(ctx, filter, bson.M{"$set": infoBsonObject})
		if err != nil {
			zLog.Error("collection.UpdateOne err", zap.Error(err))
			break
		}

		msg.SucceededCount = int32(updateResult.ModifiedCount)
		break
	}
	SendMsgBack(srcAddr, msgId, userId, msg)

	return true
}

func MsgProc@#%=ModelName%#@UpdateMany(srcAddr string, msgId uint16, userId string, message proto.Message) bool {
	zLog := common.ZLog
	msg := message.(*protocol.@#%=ModelName%#@ManyDB)
	collection := db_wrapper.MongoClient.Database(DBName).Collection("@#%=ModelName.tolower%#@")

	ctx := context.Background()

	for {
		msg.SucceededCount = 0
		for _, info := range msg.Infos {
			bytes, err := proto.Marshal(info)
			if err != nil {
				zLog.Error("MsgProc@#%=ModelName%#@UpdateMany proto.Marshal error", zap.Error(err))
				continue
			}

			infoBsonObject := bson.M{"Data": bytes}

			Id := info.Id
			objId, err := primitive.ObjectIDFromHex(Id)
			if err != nil {
				zLog.Error("MsgProc@#%=ModelName%#@UpdateMany primitive.ObjectIDFromHex failed", zap.String("Id", Id))
				continue
			}
			filter := bson.M{"_id": objId}
			updateResult, err := collection.UpdateOne(ctx, filter, bson.M{"$set": infoBsonObject})
			if err != nil {
				zLog.Error("collection.UpdateOne err", zap.Error(err))
				continue
			}

			msg.SucceededCount += int32(updateResult.ModifiedCount)
		}
		break
	}
	SendMsgBack(srcAddr, msgId, userId, msg)

	return true
}

func MsgProc@#%=ModelName%#@Select(srcAddr string, msgId uint16, userId string, message proto.Message) bool {
	zLog := common.ZLog
	msg := message.(*protocol.@#%=ModelName%#@DB)
	collection := db_wrapper.MongoClient.Database(DBName).Collection("@#%=ModelName.tolower%#@")

	ctx := context.Background()

	for {
		var result bson.M

		var filter bson.M
		Id := msg.GetInfo().Id
		objId, err := primitive.ObjectIDFromHex(Id)
		if err != nil {
			zLog.Error("MsgProc@#%=ModelName%#@Select primitive.ObjectIDFromHex failed", zap.String("Id", Id))
			break
		}
		filter = bson.M{"_id": objId}

		fOne := collection.FindOne(ctx, filter, &options.FindOneOptions{})

		if fOne.Err() != nil {
			zLog.Warn("MsgProc@#%=ModelName%#@Select collection.FindOne fOne.Err()", zap.Error(fOne.Err()))
			break
		} else {
			err := fOne.Decode(&result)
			if err != nil {
				zLog.Error("MsgProc@#%=ModelName%#@Select fOne.Decode error", zap.Error(err))
				break
			}

			bytes := result["Data"].(primitive.Binary).Data
			o := protocol.@#%=ModelName%#@{}
			err = proto.Unmarshal(bytes, &o)
			if err != nil {
				zLog.Error("proto.Unmarshal failed.", zap.Error(err))
				break
			}
			zLog.Debug("select", zap.String("info", o.String()))
			msg.Info = &o
			msg.Info.Id = Id
		}

		msg.SucceededCount = 1
		break
	}
	SendMsgBack(srcAddr, msgId, userId, msg)

	return true
}

func MsgProc@#%=ModelName%#@SelectMany(srcAddr string, msgId uint16, userId string, message proto.Message) bool {
	zLog := common.ZLog
	msg := message.(*protocol.@#%=ModelName%#@ManyDB)
	collection := db_wrapper.MongoClient.Database(DBName).Collection("@#%=ModelName.tolower%#@")

	ctx := context.Background()

	for {
		ids := bson.A{}

		for _, info := range msg.Infos {
			objId, err := primitive.ObjectIDFromHex(info.Id)
			if err != nil {
				zLog.Error("MsgProc@#%=ModelName%#@SelectMany primitive.ObjectIDFromHex error", zap.String("id", info.Id), zap.Error(err))
				break
			}
			ids = append(ids, objId)
		}

		filter := bson.M{"_id": bson.D{{"$in", ids}}}

		cursor, err := collection.Find(ctx, filter, &options.FindOptions{})
		if err != nil {
			zLog.Error("collection.Find failed", zap.Error(err))
			break
		}

		var results []bson.M
		if err = cursor.All(ctx, &results); err != nil {
			zLog.Error("cursor.All", zap.Error(err))
			break
		}
		for _, result := range results {
			bytes := result["Data"].(primitive.Binary).Data
			o := protocol.@#%=ModelName%#@{}
			err = proto.Unmarshal(bytes, &o)
			if err != nil {
				zLog.Error("proto.Unmarshal failed.", zap.Error(err))
				break
			}
			zLog.Debug("selectmany", zap.String("info", o.String()))
			for _, _info := range msg.Infos {
				_objId := result["_id"].(primitive.ObjectID)
				_Id := _objId.Hex()
				if _info.Id == _Id {
					_info = &o
					_info.Id = _Id
					break
				}
			}
		}

		msg.SucceededCount = 1
		break
	}
	SendMsgBack(srcAddr, msgId, userId, msg)

	return true
}
